<!DOCTYPE html>

<html>

    <head>
        <meta charset="uft-8">
        <title>Some Website</title>
    </head>
    
    <body>
        <h1>BRB MAINTENANCE!!!</h1>
        <p>The site is currently being updated :(</p>
    </body>

</html>