<!DOCTYPE html>

<html>

    <head>
        <meta charset="uft-8">
        <title>Some Website</title>
    </head>
    
    <body>
        {{> header}}
        <p>Portfolio Page</p>
        {{> footer}}
        
    </body>

</html>